[submodule "vendor/astroid"]
	path = src/pyscripts/vendor/astroid
	url = https://github.com/nbourdau/astroid.git
[submodule "typing_extensions"]
	path = src/pyscripts/vendor/typing_extensions
	url = https://github.com/python/typing_extensions.git
