Source: mmpack
Section: utils
Priority: optional
Maintainer: Gabriel Ganne <gabriel.ganne@mindmaze.ch>
Uploaders: Nicolas Bourdaud <nicolas.bourdaud@mindmaze.ch>
Build-Depends: debhelper (>= 10), dh-python,
 check,
 python3,
 patchelf,
 libarchive-dev, libyaml-dev, libmmlib-dev,
 libcurl4-gnutls-dev | libcurl-dev,
 libdpkg-perl,
 python3-sphinx, python3-sphinx-rtd-theme, python3-docutils,
 python3-astroid, python3-pefile, python3-pyelftools, python3-urllib3,
 python3-yaml, python3-paramiko, python3-watchdog
Standards-Version: 3.9.8
Vcs-Git: https://intranet.mindmaze.ch/mmlabs/gerrit
Vcs-browser:  https://intranet.mindmaze.ch/mmlabs/gerrit/gitweb?p=mmpack.git

Package: mmpack
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends},
 libdpkg-perl, base-files
Recommends: mmpack-doc
Description: MindMaze package manager
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools to install, upgrade, remove packages

Package: python3-mmpack-build
Section: devel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: mmpack (= ${binary:Version}),
 ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends},
 git, build-essential, automake, libtool, gnulib, meson, cmake, patchelf
Description: MindMaze package development tools (python3 package)
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the python3 package providing the necessary
 infrastructure to implement mmpack-build

Package: mmpack-build
Section: devel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: python3-mmpack-build (= ${binary:Version}), ${misc:Depends}
Recommends: mmpack-doc
Description: MindMaze package development tools
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools needed to build mmpack package from source

Package: mmpack-repo-tools
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python3:Depends}
Description: MindMaze repository management tools
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools needed to manage repositories of mmpack
 packages

Package: mmpack-gerrit-builder-master
Section: devel
Architecture: all
Pre-Depends: ${misc:Pre-Depends}, adduser
Depends: mmpack-repo-tools (= ${binary:Version}),
 python3-mmpack-build (>= ${source:Version}),
 ${misc:Depends}, ${python3:Depends}
Description: MindMaze package repository update tools (master)
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools needed to update repository upon git repo
 update (master server)

Package: mmpack-gerrit-builder-slave
Section: devel
Architecture: all
Pre-Depends: ${misc:Pre-Depends}, adduser
Depends: mmpack-build (>= ${source:Version}), mmpack (>= ${source:Version}),
 ${misc:Depends}
Description: MindMaze package repository update (slave)
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools needed to update repository upon git repo
 update (slave server)

Package: mmpack-doc
Section: doc
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Description: MindMaze package manager documentation
 This package provides the user documentation for the mmpack project
 .
 This package contains the mmpack user documentation.
