Source: mmpack
Section: utils
Priority: extra
Maintainer: Gabriel Ganne <gabriel.ganne@mindmaze.ch>
Uploaders: Nicolas Bourdaud <nicolas.bourdaud@mindmaze.ch>
Build-Depends: debhelper (>= 10), dh-autoreconf, dh-python,
 check,
 python3,
 libarchive-dev, libyaml-dev, libmmlib-dev,
 libcurl4-gnutls-dev | libcurl-dev,
 libdpkg-perl
Standards-Version: 3.9.8
Vcs-Git: https://intranet.mindmaze.ch/mmlabs/gerrit
Vcs-browser:  https://intranet.mindmaze.ch/mmlabs/gerrit/gitweb?p=mmpack.git

Package: mmpack
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends},
 libdpkg-perl
Description: MindMaze package manager
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools to install, upgrade, remove packages

Package: mmpack-build
Section: devel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: mmpack (>= ${source:Version}), ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: MindMaze package development tools
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools needed to build mmpack package from source
