[Unit]
Description=MMPACK repository updater
After=network.target

[Service]
ExecStartPre=/usr/bin/test -e /etc/mmpack-ci-builder/config.yaml
ExecStart=/usr/share/mmpack/ci-builder/ci_builder.py
User=mmpack-builder
Restart=on-failure

[Install]
WantedBy=multi-user.target
