[Unit]
Description=MMPACK repository updater
After=systemd-user-sessions.service

[Service]
ExecStartPre=/usr/bin/test -e /etc/gerrit-mmpack-build/config.yaml
ExecStart=/usr/share/mmpack/gerrit/python/gerrit-mmpack-build.py
User=mmpack-builder
Restart=on-failure
