#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	export DEB_CFLAGS_MAINT_APPEND=-O3 -flto -g3
endif
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-Bsymbolic-functions

%:
	dh  $@ --with python3,sphinxdoc --builddirectory=build --buildsystem=meson

override_dh_autoreconf:

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/tmp/usr/share/mmpack/common-licenses
	ln -s /usr/share/common-licenses debian/tmp/usr/share/mmpack/common-licenses

override_dh_python3:
	dh_python3 -pmmpack-build --requires=3rdparty-python --depends-section=mmpack-build /usr/share/mmpack/mmpack_build
	dh_python3 -pmmpack-build /usr/share/mmpack/pyscripts
	dh_python3 -pmmpack-repo-tools --requires=3rdparty-python --depends-section=mmpack-repo
